</br></br></br>
<h1>😇❤️😻BACKEND️😻❤😇</h1></br>
<p></p>

------------------------------------------------------------------------------------------------------------------------------------------------------------
</br>
<ul></br>
    <li><h2>
        <a href="http://localhost:3000/users" action= "<%= inscription_path %>">  CREER UN  NOUVEL UTILISATEUR</a></li></h2>
      
    </li>
</ul>   
------------------------------------------------------------------------------------------------------------------------------------------------------------
</br>
</br>
 <a href="https://imgbb.com/"><img src="https://image.ibb.co/g3yhEH/The_hacking_project_1_300x115.png" alt="The_hacking_project_1_300x115" border="0"></a>
</br>
 <h4>  Projet du 26 Avril 2018 - SEMAINE 4 JOURS 4 </h4>

   <p></br>
##- Audrey (@audreycouture)</br>
##- Jerome (@Jerome)</br>
##- Damien (@damien13005)</br>
##- Maxime (@Maxime)</br>
##- Sam     (@sam)</p></br>
<h5>TEAM WEST COAST</h5></br>
<p><a href="https://ibb.co/iALJoc"><img src="https://preview.ibb.co/kyNngx/img_marseille_3.png" alt="img_marseille_3" border="0"></a></br>


<p>------------     Merci pour la correction !    ------------</p>