<h1>WEST COAST MARSEILLE INFOS</h1>


<p><a href="https://ibb.co/iALJoc"><img src="https://preview.ibb.co/kyNngx/img_marseille_3.png" alt="img_marseille_3" border="0"></a>

-------------





<h1> /////////////  HACKING PROJECT //////////   </br>

    <a href="https://imgbb.com/"><img src="https://image.ibb.co/g3yhEH/The_hacking_project_1_300x115.png" alt="The_hacking_project_1_300x115" border="0"></a></br></br>
Projet du 26 Avril 2018 - SEMAINE 4 JOURS 4 </h1></br>





-------------


------------

<ul>
	<li><a href="http://localhost:3000/about/team"> DECOUVREZ LA TEAM </a></li>
    <li><a href="http://localhost:3000/about/jerome">   JEROME</a></li>
    <li><a href="http://localhost:3000/about/damien">   DAMIEN</a></li>
    <li><a href="http://localhost:3000/about/maxime">   MAXIME</a></li>
    <li><a href="http://localhost:3000/about/samir">    SAMIR</a></li>
    <li><a href="http://localhost:3000/about/audrey">   AUDREY</a></li>
</ul>        
