<h1>Team</h1>


<h2>## ** WEST COAST MARSEILLE**</h2></br>
<p>
 <ul>
    <li><a href="http://localhost:3000/about/audrey">##- Audrey (@audreycouture)</br></a></li>
<li><a href="http://localhost:3000/about/jerome">##- Jerome (@Jerome)</br></a></li>
<li><a href="http://localhost:3000/about/damien">##- Damien (@damien13005)</br></a></li>
<li><a href="http://localhost:3000/about/maxime">##- Maxime (@Maxime)</br></a></li>
<li><a href="http://localhost:3000/about/samir">##- Sam  (@sam)</br></a></li>

</ul>

-------------

------------

</p><br/>
<a href="https://www.noelshack.com/2018-17-4-1524774019-pairprogramming.jpg"><img src="https://image.noelshack.com/minis/2018/17/4/1524774019-pairprogramming.png" border="0" alt="1524774019-pairprogramming.jpg - envoi d'image avec NoelShack" title="1524774019-pairprogramming.jpg"/></a>
 <a href="https://imgbb.com/"><img src="https://image.ibb.co/g3yhEH/The_hacking_project_1_300x115.png" alt="The_hacking_project_1_300x115" border="0"></a></br></br>
<p><a href="https://ibb.co/iALJoc"><img src="https://preview.ibb.co/kyNngx/img_marseille_3.png" alt="img_marseille_3" border="0"></a>


