


<p><a href="https://ibb.co/iALJoc"><img src="https://preview.ibb.co/kyNngx/img_marseille_3.png" alt="img_marseille_3" border="0"></a>

-------------





<h1> /////////////  HACKING PROJECT //////////   </br>

    <a href="https://imgbb.com/"><img src="https://image.ibb.co/g3yhEH/The_hacking_project_1_300x115.png" alt="The_hacking_project_1_300x115" border="0"></a></br></br>
Projet du 26 Avril 2018 - SEMAINE 4 JOURS 4 </h1></br>

<p>## ** WEST COAST MARSEILLE**</p></br>
<ul>
    <li><a href="http://localhost:3000/about/audrey">##- Audrey (@audreycouture)</br></a></li>
<li><a href="http://localhost:3000/about/jerome">##- Jerome (@Jerome)</br></a></li>
<li><a href="http://localhost:3000/about/damien">##- Damien (@damien13005)</br></a></li>
<li><a href="http://localhost:3000/about/maxime">##- Maxime (@Maxime)</br></a></li>
<li><a href="http://localhost:3000/about/samir">##- Sam  (@sam)</br></a></li>

</ul>


</p>

-------------

------------

<ul>
    <li>
        <a href="http://localhost:3000/about">   Plus d'infos</a></li>
        <li><a href="http://localhost:3000/about/team"> Découvrez la Team </a></li>
	<li><a href="http://localhost:3000/contact"> Contacts </a></li>
    </li>
</ul>


-------------

------------



<br/>Merci pour la correction !<br/> 


-------------


------------</p>

